body {
  min-height: 100vh;
  background-size: auto, cover, cover;
  background-image: url(/img/footer-pattern.webp),
    url(/img/sub-background-desktop.webp), url(/img/backgroundDesktop.webp);
  background-repeat: no-repeat;
  background-position: right bottom, left top, right bottom;
  background-attachment: fixed;
}


.info-icon {
  width: 21px;
  height: 24px;
  color: #6e6e6e;
}

a {
  text-decoration: none;
  color: black;
}

.sidebar {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  position: sticky;
  list-style: none; 
}

.sidebar li:last-child {
  border-bottom: 0;
}

.bar-item {
  cursor: pointer;
  display: flex;
  transition: all 0.25s!important;
  align-items: center;
  padding: 15px 18px;
  border-bottom: 1px solid #d1d3d4;
}

.bar-item:hover {
  background-color: #ffe2e2 !important;
}
p {
  margin-bottom: 0px;
}
.info-cate {
  margin-right: 26px;
  flex: 1;
}

.info{
    flex: 3;
}


.icon-img {
  width: 20px;
  height: 19px;
  margin-right: 12px;
}
