body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover, cover, cover;
    background-image:
            url('//footer-pattern.webp'),
            url('//sub-background-desktop.webp'),
            url('//backgroundDesktop.webp');
    background-repeat: no-repeat;
    background-position: right bottom, left top, right bottom;
    background-attachment: fixed;
}